.item-todo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
.check-item {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.delete-todo {
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
}
.delete-todo span {
  font-size: 20px;
  padding: 10px;
}
.blog-name-check {
  display: flex;
  /* width: 45%; */
  justify-content: space-around;
}

.todo-final{
  filter: contrast(0.5);
}